body {
    background-color: #ffffff
} 
h2,h1,h3 {
    font-family: Georgia;
}
p {
    font-family: Georgia
}
.column-container {
    display: table;
    width: 100%;
}
.column-top {
    display: table-cell;
    width: 33.33%;
}

.column-bottom {
    display: table-cell;
    width: 33.33%;
}
